.banner-card{
    position: relative;
}
.banner-text{
    position: absolute;
    top: 25%;
    padding: 20px;
    margin-left: 450px;
}

#box{
    position: absolute;
    margin: 420px;
    margin-top: 8px;
    top: 500px;
}
*body{
    margin: 0px;
    padding: 0px;
}
.container{
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}
.latter{
    margin-left: -500px;
}